@using DevChat.MVC.Models
@model ChatModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatRoom App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ChatRoomApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4">Welcome to the Chat Room App<p>@ViewBag.User.Name</p></h1>
            </div>
            @{
                if(Model.ChatRooms.Count > 0)
                {
                    <ul>
                    @foreach(var chatRoom in Model.ChatRooms)
                    {
                        <li>
                        @chatRoom.Name - 

                        @using (Html.BeginForm("EnterRoom", "Chat", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <input type="hidden" name="roomID" value="@chatRoom.Id "/>
                            <button type="submit" class="btn btn-primary">Enter Room @chatRoom.Name</button>
                        }

                        - 

                        @if(@chatRoom.Participants.Any(p => p.UserId == @ViewBag.User.Id))
                        {
                            @using (Html.BeginForm("LeaveRoom", "Chat", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();
                               <input type="hidden" name="roomID" value="@chatRoom.Id "/>
                               <button type="submit" class="btn btn-danger">Leave Room @chatRoom.Name</button>
                            }

                        }
                        </li>
                    }
                    </ul>

                    <div class="text-center">
                        <br />
                        <br />
                        <h2>Would you like to create @Html.ActionLink("one Room", "CreateRoom", "Chat") ?</h2>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <br />
                        <br />
                        <h2>No rooms created so far. <p>Would you like to create @Html.ActionLink("one Room", "CreateRoom", "Chat") ?</p></h2>
                    </div>
                }
            }
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>